web/WEB-INF/wsdl/localhost_8080/StockWS/ProductoWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicio.udea.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicio.udea.com/" name="ProductoWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://servicio.udea.com/" schemaLocation="http://localhost:8080/StockWS/ProductoWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="BuscarProducto">
<part name="parameters" element="tns:BuscarProducto"/>
</message>
<message name="BuscarProductoResponse">
<part name="parameters" element="tns:BuscarProductoResponse"/>
</message>
<message name="ConsultarProductos">
<part name="parameters" element="tns:ConsultarProductos"/>
</message>
<message name="ConsultarProductosResponse">
<part name="parameters" element="tns:ConsultarProductosResponse"/>
</message>
<message name="IngresarProducto">
<part name="parameters" element="tns:IngresarProducto"/>
</message>
<message name="IngresarProductoResponse">
<part name="parameters" element="tns:IngresarProductoResponse"/>
</message>
<message name="ActualizarProducto">
<part name="parameters" element="tns:ActualizarProducto"/>
</message>
<message name="ActualizarProductoResponse">
<part name="parameters" element="tns:ActualizarProductoResponse"/>
</message>
<message name="BorrarProducto">
<part name="parameters" element="tns:BorrarProducto"/>
</message>
<message name="BorrarProductoResponse">
<part name="parameters" element="tns:BorrarProductoResponse"/>
</message>
<portType name="ProductoWebService">
<operation name="BuscarProducto">
<input wsam:Action="http://servicio.udea.com/ProductoWebService/BuscarProductoRequest" message="tns:BuscarProducto"/>
<output wsam:Action="http://servicio.udea.com/ProductoWebService/BuscarProductoResponse" message="tns:BuscarProductoResponse"/>
</operation>
<operation name="ConsultarProductos">
<input wsam:Action="http://servicio.udea.com/ProductoWebService/ConsultarProductosRequest" message="tns:ConsultarProductos"/>
<output wsam:Action="http://servicio.udea.com/ProductoWebService/ConsultarProductosResponse" message="tns:ConsultarProductosResponse"/>
</operation>
<operation name="IngresarProducto">
<input wsam:Action="http://servicio.udea.com/ProductoWebService/IngresarProductoRequest" message="tns:IngresarProducto"/>
<output wsam:Action="http://servicio.udea.com/ProductoWebService/IngresarProductoResponse" message="tns:IngresarProductoResponse"/>
</operation>
<operation name="ActualizarProducto">
<input wsam:Action="http://servicio.udea.com/ProductoWebService/ActualizarProductoRequest" message="tns:ActualizarProducto"/>
<output wsam:Action="http://servicio.udea.com/ProductoWebService/ActualizarProductoResponse" message="tns:ActualizarProductoResponse"/>
</operation>
<operation name="BorrarProducto">
<input wsam:Action="http://servicio.udea.com/ProductoWebService/BorrarProductoRequest" message="tns:BorrarProducto"/>
<output wsam:Action="http://servicio.udea.com/ProductoWebService/BorrarProductoResponse" message="tns:BorrarProductoResponse"/>
</operation>
</portType>
<binding name="ProductoWebServicePortBinding" type="tns:ProductoWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="BuscarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultarProductos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="IngresarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ActualizarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="BorrarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ProductoWebService">
<port name="ProductoWebServicePort" binding="tns:ProductoWebServicePortBinding">
<soap:address location="http://localhost:8080/StockWS/ProductoWebService"/>
</port>
</service>
</definitions>